.container {
  max-width: 1170px;
  width: 80%;

  margin: 0 auto;
}

/* .container2 {
  max-width: 1170px;
  width: 80%;
  margin: 0 auto;
} */

.txtinfo1 {
  width: 350px;
  height: 101px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.txtinfo1 > h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 42px;
}

.txtfill {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

textarea {
  width: 720px;
  height: 288px;
  padding: 24px 20px;
  box-sizing: border-box;
  border: 2px solid #e8e8e8;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 13px;
  color: black;
  resize: none;
}

.form1 {
  height: 288px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input {
  width: 352px;
  height: 60px;
  padding: 20px 24px;
  box-sizing: border-box;
}

.send {
  background-color: #5863f8;
  color: whitesmoke;
  font-size: 15px;
}

.circles {
  width: 60px;
  height: 60px;
  background-color: #5863f8;
  border-radius: 51%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

.fa-envelope {
  font-size: 25px;
  color: #e8e8e8;
}
.fa-mobile-screen {
  font-size: 25px;
  color: #e8e8e8;
}
.fa-location-dot {
  font-size: 25px;
  color: #e8e8e8;
}

.iconcard {
  display: flex;
  flex-direction: column;

  text-align: center;
  width: 200px;
  align-items: center;
}
.icons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 5px;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #b1b1b1;
  margin-bottom: 3px;
}

.txtinfo2 {
  width: 600px;
}

.txtinfo2 > h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 42px;
  margin-bottom: 62px;
}

.container2 {
  max-width: 1328px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.pics {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer {
  width: 1366px;
  margin: 0 auto;
  padding-left: 160px;
  padding-top: 90px;
  padding-bottom: 50px;
  background-color: #000000;
  display: flex;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.contactcard1 {
  width: 260px;
  margin-right: 180px;
}
p {
  color: #b1b1b1;
  margin-bottom: 20px;
}

.fa-facebook {
  color: #3b5998;
  background-color: #f8f8f8;
  border-radius: 51%;
  font-size: 35px;
}

.fa-twitter {
  color: #55acee;
  background-color: #f8f8f8;
  font-size: 35px;
  border-radius: 51%;
}
.fa-google-plus {
  color: #dc4e41;
  background-color: #f8f8f8;
  font-size: 35px;
  border-radius: 51%;
}

.contactcard2 {
  margin-right: 150px;
}

h5 {
  font-family: "Poppins", sans-serif;

  font-size: 14px;
  color: #ffffff;
  margin-bottom: 20px;
}

li {
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  font-size: 14px;
  color: #5863f8;
  margin-bottom: 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
